<div class="flex h-full flex-col gap-8">
  <h1 class="text-center text-4xl font-bold">Angular Signals Playground</h1>
  <nav>
    <ul class="flex flex-row justify-center gap-8 text-2xl font-bold">
      <li>
        <a
          class="hover:text-white"
          routerLink="/rxjs-demo"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >RXJS demo</a
        >
      </li>
      <li>
        <a
          class="hover:text-white"
          routerLink="/imperative-signals-demo"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Imperative Signals</a
        >
      </li>
      <li>
        <a
          class="hover:text-white"
          routerLink="/declarative-signals-demo"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Declarative signals</a
        >
      </li>
    </ul>
  </nav>

  <div class="h-full">
    <router-outlet></router-outlet>
  </div>
</div>
